aiohttp==3.8.4
amazoncaptcha==0.5.10
fake_useragent==1.4.0
gerapy_pyppeteer==0.2.4
lxml==4.9.2
nest_asyncio==1.5.6
psutil==5.9.5
pymongo==4.5.0
PyMySQL==1.1.0
pyppeteer==1.0.2
pyppeteer_stealth==2.7.4
pytz==2023.3.post1
redis==4.5.4
Requests~=2.28.2
requests_toolbelt==0.10.1
Scrapy==2.8.0
setuptools~=67.6.0
six==1.16.0
Twisted==22.10.0
ujson==5.7.0
urllib3==2.1.0
user_agents==2.2.0
python-dotenv==1.0.0
